<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodServlet</servlet-name>
        <servlet-class>controller.AddFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listoffood</servlet-name>
        <servlet-class>controller.listoffood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listoffood</servlet-name>
        <servlet-class>controller.Listoffood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteuserServlet</servlet-name>
        <servlet-class>controller.DeleteuserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRequestServlet</servlet-name>
        <servlet-class>controller.AddRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodServlet</servlet-name>
        <url-pattern>/AddFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listoffood</servlet-name>
        <url-pattern>/listoffood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listoffood</servlet-name>
        <url-pattern>/Listoffood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteuserServlet</servlet-name>
        <url-pattern>/DeleteuserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequestServlet</servlet-name>
        <url-pattern>/AddRequestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
